@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu');
body {

      font-family: 'Noto Sans', sans-serif;
}

.pure-g {
      //border: 5px solid orange;
      margin-bottom: 25px;
}
.pure-menu-link{
    margin-bottom: 1em;
    letter-spacing: 1px;
    display: inline-block;
}
.pure-menu-link:hover {
    color:black;
    
 
    
}
.pure-u-1 {
      box-sizing: border-box;
      //border: 5px solid cadetblue;
      padding: 25px;
      text-align: center;
      
}
.contactme{
    color:deepskyblue;
    text-decoration: underline;
}

h1 {
      font-size: 1.2em;
      font-weight: 900;
}

h2 {
      font-size: 1.1em;
      font-weight: 900;
      margin-bottom: 25px;
}

p {
      margin-bottom: 25px;
      text-align: left;
      line-height: 1.6em;
}

ul {
      list-style-type: none;
      padding: 0;
}
.me{
    background-color:black;
    color: white;
}
.about {
    text-align: center;
}


#portfolio{
   background-color: lightgrey; 
}
.title{
    font-family: "Ubuntu" , sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    color: aliceblue;
    text-decoration: overline underline;
}
.portfoliokader{
    
}
.work{
    width:30%;
    margin-right:10px;
    margin-bottom:20px;
    border:1px solid #eee;
    
}
@media (max-width: 48em) {
      li a {
            color: red;
      }

      li {
            display: inline;
            margin-right: 10px;
      }
}
