<div class="pure-g">
<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
          <a href="#" class="pure-menu-link pure-menu-heading">Verhoeven Youri</a>
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="http://codepen.io/VerhoevenYouri/" class="pure-menu-link">Codepen</a></li>
              <li class="pure-menu-item"><a href="https://github.com/YouriVerhoeven/" class="pure-menu-link">GitHub</a></li>
              <li class="pure-menu-item"><a href="https://pinterest.com/youri_verhoeven/" class="pure-menu-link">Pinterest</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
              <li class="pure-menu-item"><a href="https://youriverhoeven.github.io/Harpportfolio/" class="pure-menu-link">Portfolio</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
          </ul>
      </div>

 <div class="pure-u-1">
     <div class="pure-u-1 banner">
        <h1>THINK OUTSIDE THE BOX</h1>
     </div>
      </div>

      <div class="pure-u-1 me" >
        <h3 class="title"> ABOUT ME </h3>
        <div ></div>
        <p class="about"><br>Hello, i'm Youri Verhoeven. Graphic designer and webdevelopper.<br><br> My skillset ranges from HTML, CSS & JavaScript, to WordPress, PhotoShop, Illustrator, InDesign and 3D development.<br><br> I am driven to work on your project !<br> <a href="#"><span class="contactme">Contact me</span></a></p>
      </div>

      <div class="pure-u-1" id="portfolio">
        <h3 class="title">SOME OF MY WORK</h3>
        <div class="light"></div>
        <div class="portfoliokader">
          <a href="http://codepen.io/VerhoevenYouri/pen/VKJLML">
          <img src="assets/images/werk_api.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/mOpVdj">
          <img src="assets/images/werk_dragula.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/dpqXBz">
          <img src="assets/images/werk_restaurant.png" alt="work" class="work"></a>
        </div>
        <div class="portfoliokader">
          <a href="http://codepen.io/VerhoevenYouri/pen/rrJdrj">
          <img src="assets/images/werk_hammer.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/ENVZYm">
          <img src="assets/images/werk_isotope.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/xRrRjg">
          <img src="assets/images/werk_jslibrary.png" alt="work" class="work"></a>
        </div>
        <div class="portfoliokader">
          <a href="http://codepen.io/VerhoevenYouri/pen/dpWoGP">  
          <img src="assets/images/werk_pleasejs.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/gwgggE">  
          <img src="assets/images/werk_reaveljs.png" alt="work" class="work"></a>
          <a href="http://codepen.io/VerhoevenYouri/pen/LRbvWw">  
          <img src="assets/images/werk_flexbox.png" alt="work" class="work"></a>
        </div>
      </div>

    
      <div class="pure-u-1" id="form">
        <h2 class="title"> CONTACT ME </h2>
        <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <input type="text" placeholder="Name">
            </div>

            <div class="pure-control-group">
                <input type="password" placeholder="example@example.com">
            </div>

            <div class="pure-control-group">
                <input type="text" placeholder="Remarks?">
            </div>

                <button type="submit" class="pure-button pure-button-primary">CONTACT</button>
            </fieldset></form></div>
        
        <div class="footer">   
            <p>Verhoeven Youri 	&copy; </p>
        </div>
</div>


    